<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>GymApp</title>
</head>


    {% extends 'gymapp/premium.htm' %}
{% block content %}
    <center>
    <h1 class="text-warning" >Your Daily Workout</h1>
    <!-- style="background-color:#000000;color:#FFFF99;" -->
    <form method = 'POST' enctype="multipart/form-data">
        {% csrf_token %}
        <table class = 'table table-dark table-borderless' style="background-color:#000000;color:#FFFF99;">
            <!-- style="border-radius:10px;background-color:#FFFF99;" -->
            {% for field in upload_form %}
            <tr>
                <th>{{field.label}}</th>
                <td>{{ field }}</td>
            </tr>
            {% endfor %}
        </table>
        <button type="submit"  class="btn btn-lg btn-warning ">Submit</button>
    </form>
</center>
{% endblock %}
<footer>
    
</footer>
</body>
</html>